@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;

}

main{
    width: 100vw;
    height: 100vh;
}

.Containner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

}

.Base{
    width: 20rem;
    border-radius: 1.2em;
    height: 31.8em;
    background-color: hsl(0, 0%, 100%);

}

#Items{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

}

#Qr-Code{
    margin-top: 15px;
    margin-bottom: 25px;
    width: 90%;
    border-radius: 0.6rem;

}

#Text{
    font-size: 1.4em;
    margin-inline: 30px;
    text-align: center;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
}

#Text2{
    text-align: center;
    margin-top: 18px;
    margin-inline: 30px;
    font-weight: 400;
    color: hsl(219, 15%, 55%);
}



